# Build files
build/
*.class
*.jar

# NetBeans IDE files
nbproject/private/
.nbproject/
*.properties
*.xml

# IDE files
.idea/
*.iml

# Log files
*.log
*.lck

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
